.dashboard {
  display: flex;
  height: 100vh;
}

.dashboard .sidebar {
  width: 250px;
  background-color: #111325;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: fixed;
  height: 100vh;
  z-index: 1;
}

.dashboard .main-content {
  flex-grow: 1;
  background-color: #f8e8ee;
  padding: 20px;
  margin-left: 250px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.dashboard h1 {
  margin: 0;
  color: #07696F;
}

.dashboard .header-buttons {
  display: flex;
  gap: 10px;
}

.dashboard .new-patient-btn, 
.dashboard .new-appointment-btn {
  padding: 10px 20px;
  border: none;
  background-color: #07696F;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.dashboard .new-patient-btn:hover, 
.dashboard .new-appointment-btn:hover {
  background-color: #07696F;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.dashboard .content {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  z-index: 2;
}

@media (max-width: 768px) {
  .dashboard .main-content {
    margin-left: 0;
    padding: 20px;
  }

  .dashboard .sidebar {
    width: 100%;
    height: auto;
    position: static;
    flex-direction: row;
    justify-content: space-around;
  }

  .dashboard .content {
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  .dashboard .navbar {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .dashboard .sidebar {
    width: 100%;
    padding: 10px;
  }

  .dashboard .content {
    padding: 10px;
    margin-top: 10px;
  }
}